* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
    padding-top: 100px;
    background: #182594;
    min-height: 100vh;
    color: #ffffff;
  }
  
  h1 {
    margin-bottom: 50px;
  }
  
  .number-inputs {
    margin-bottom: 20px;
  }
  
  input {
    font-size: 80px;
    border-radius: 10px;
    border: 1px solid #7085fd;
    width: 25%;
    padding: 10px;
    text-align: center;
    background: #ffffff;
    color: #000000;
  }
  
  input:first-child {
    margin-right: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 30px 30px;
    background: #104fd6;
    border: none;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #ffffff;
    cursor: pointer;
  }
  
  h2 {
    font-size: 150px;
  }

  a {
    color: #FFF;
  }
  
  a:hover {
     color: #00F
  }

  img {
    padding-right: 10px;
    padding-left: 10px;
  }

  p {
    padding-right: 100px;
    padding-left: 100px;
  }